<div class='row search-top'>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 center" id='main-search'>
		<form action="/results" method="POST" role="form" id='search-form'>
			<h1 id='title' class= 'title-group'>Hire.me</h1>
			<h2 class='title-group' id='opaque'>Find jobs | Get hired</h2>
<!-- 			<div id='search-stuff'> -->
				<input type="text" class="form-control center" id="first" placeholder="Enter job to search" name='search' autofocus>
				<input type='text' class='form-control center' id="" placeholder="Where" name='city'>
				<button type="submit" id='btn' class="btn btn-primary">Search</button>
			<!-- </div> -->
		</form>
	</div>
</div>

