<form action="/results" method="POST" role="form">
	<div class="form-group">
		<label for="">Search for Jobs</label>
		<input type="text" class="form-control search-form" id="" placeholder="Enter job to search" name='search'>
		<input type='text' class='form-control search-form' id="" placeholder="Where" name='city'>
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>