<form action="/login" method="POST" role="form" class='search-top'>
	<div class="form-group login-container">
		<h1 class='center'>Log In</h1>
		<input type="email" class="form-control" id="" placeholder="E-mail" name='email' autofocus required>
		<input type="password" class="form-control" id="" placeholder="Password" name='password' required>
		<button type="submit" class="btn btn-primary center">LOGIN</button>
		<p>Not a member?  <a href='/signup'>SIGN UP</a></p>
	</div>

	


</form>