<div class ='row search-top'>
	<div class = 'col-xs-12 col-sm-6 col-sm-offset-3 center'>
		<form action="/login" method="POST" role="form">
			<div class="form-group">
				<h1>Log In</h1>
				<input type="email" class="form-control" id="" placeholder="E-mail" name='email' autofocus required>
				<input type="password" class="form-control" id="" placeholder="Password" name='password' required>
				<button type="submit" class="btn btn-primary">LOGIN</button>
				<p>Not a member?  <a href='/signup'>SIGN UP</a></p>
			</div>
		</form>
	</div>
</div>