<div class='well'>
<% results.forEach(function(job){ %>
  <% if(job.url != 'http://www.indeed.comundefined'){ %>
    <a href='<%= job.url %>'> <h1> <%= job.title %> : </h1></a>
    <p> <%= job.company %> </p>
  <% } %>
<% }) %>
</div>