<div class = 'row'>
	<div class = 'col-xs-12 col-sm-6 col-sm-offset-3 center'>
		<form action="/signup" method="POST" role="form" class='search-top'>
			<div class="form-group login-container">
				<h1 class='center'>Sign Up</h1>
				<% if(error){ %>
					<p class='error warning center'>PASSWORDS DID NOT MATCH</p>
				<% } %>
				<input type="text" class="form-control" id="" placeholder="Name" name='name' autofocus required>
				<input type="email" class="form-control" id="" placeholder="E-mail" name='email' required>
				<input type="password" class="form-control" id="password" placeholder="Password" name='password' required>
				<input type="password" class="form-control" id="password" placeholder="Password" name='password2' required>
				<button type="submit" class="btn btn-primary center">SIGN UP</button>
			</div>
		</form>
	</div>
</div>